*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* formattazione testi */
body{
  font-family: 'Roboto', sans-serif;
}
.menu-principale li {
  text-transform: uppercase;
  font-size: 12px;
}
/* /formattazione testi */

/* grandezze temporanee */
header{
  height:80vh;
  background-color: blue;
  background-image: url('../img/wip.jpg');
  background-position: center;
  background-repeat: no-repeat;
}
/* creati due contenitori da centrare */
.top-header{
  width:80%;
  margin: 0 auto;
}
.bottom-header{
  height:450px;
  width:80%;
  margin: 0 auto;
  position: relative;
}
/* /creati due contenitori da centrare */

/* struttura del top header */
.logo{
  float: left;
  margin-right: 5%;
  padding:10px 0;
}

.menu-principale{
  float: left;
  margin-right: 10%;
}
.menu-principale li{
  display: inline-block;
  margin-right: 20px;
  list-style: none;
  line-height: 50px;
  padding:10px 0;
}
.menu-principale a {
  text-decoration: none;
  color:#fff;
}

.login{
  width: 20%;
  height: 50px;
  background-color: green;
  float: left;
  border: 1px solid black;
}

/* /struttura del top header */

/* applico il clearfix al top header */
.top-header::after{
  display: block;
  clear: both;
  content:"";
}

/* struttura del bottom header */
.titolo-bottone{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
/* struttura del bottom header */
