*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* formattazione testi */
body{
  font-family: 'Roboto', sans-serif;
}
.menu-principale li, .login li {
  text-transform: uppercase;
  font-size: 12px;
}
.titolo-bottone h1{
  color:#fff;
  font-size: 48px;
}
.testo-confronto h3{
  font-size: 24px;
}
.testo-confronto p{
  color:#808080;
  font-size: 16px;
}
/* /formattazione testi */

header{

  background-color: #0C325A;
  position:relative;
}
/* creati due contenitori da centrare */
.top-header{
  width:80%;
  margin: 0 auto;
}
.bottom-header{
  height:450px;
  width:80%;
  margin: 0 auto;
  position: relative;
}
/* /creati due contenitori da centrare */

/* struttura del top header */
.logo{
  float: left;
  margin-right: 5%;
  padding:10px 0;
  width:10%;
}

.menu-principale{
  float: left;
  width:45%;
}
.menu-principale li, .login li{
  display: inline-block;
  list-style: none;
  line-height: 50px;
  padding: 10px 0;
}

.menu-principale li:not(:last-child),
.login li:not(:last-child)
{
  margin-right: 15px;
}
.menu-principale a, .login a {
  text-decoration: none;
  color:#fff;
}

.login{
  float: left;
  width:40%;
  text-align: right;
}
.login ul:first-child{
  color:#fff;
}
/* struttura button */
.bottone-vuoto{
  border: 1px solid #fff;
  padding: 8px 30px;
  border-radius: 5px;
}
.bottone-pieno{
  background-color: #7CBB02;
  padding: 8px 5px;
  border-radius: 5px;
}
/* /struttura button */

/* /struttura del top header */

/* applico il clearfix al top header */
.top-header::after{
  display: block;
  clear: both;
  content:"";
}

/* struttura del bottom header */
.titolo-bottone{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width:550px;
}
.titolo-bottone h1{
  margin-bottom: 40px;
}
.titolo-bottone a{
  text-decoration: none;
  color:#fff;
  text-transform: uppercase;
  padding: 20px;
}
.immagine-principale{
  position:absolute;
  right:0;
  bottom:0;
  height:400px;
}
.immagine-principale img{
  height:400px;
  width:800px;
  object-fit: cover;
}
/* struttura del bottom header */

/* struttura sezione */
.confronto-strutture{
  height:100px;
  background-color: #D3D3D3;
  text-align: center;
  position: relative;
  line-height: 30px;
}
.testo-confronto{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50% ,-50%);
}
